@{
    ViewBag.Title = "Home Page";
}

<h1>User Account Panel</h1>

<div class="row">
    <div class="col-md-4">
        <h2>Laptops</h2>
        <img src="~/images/laptop.jpg" class="img-thumbnail" alt="Laptop" height="200" width="300">
    </div>
    <div class="col-md-4">
        <h2>Andriod Mobiles</h2>
        <img src="~/images/samsung.jpg" class="img-thumbnail" alt="Samsung" height="200" width="300">
    </div>
    <div class="col-md-4">
        <h2>IPhones</h2>
        <img src="~/images/iphone.jpg" class="img-thumbnail" alt="Iphone" height="200" width="300">
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Smart Watche</h2>
        <img src="~/images/appleWatch.jpg" class="img-thumbnail" alt="SmartWatche" height="200" width="300">
    </div>
    <div class="col-md-4">
        <h2>Mobile Charger</h2>
        <img src="~/images/mobileCharger.jpg" class="img-thumbnail" alt="MobileCharger" height="200" width="300">
    </div>
    <div class="col-md-4">
        <h2>Ear Buds</h2>
        <img src="~/images/earbuds.jpg" class="img-thumbnail" alt="EarBuds" height="300" width="300">
    </div>
</div>